<nav class="navbar navbar-inverse bg-danger">
    <div class="container-fluid">
      <div class="navbar-header ml-4">
        <h1 class="navbar-brand text-white" style="font-size:24px">Customer - {{customerName}} </h1>
      </div>
      <div class="nav navbar-nav navbar-right mr-3">
        <button (click)="logout()" class="rounded bg-primaryç border-0 py-1 px-4 text-white" style="font-size:22px"><span class="fa fa-sign-out" style="font-size:20px"></span> Logout</button>
      </div>
    </div>
  </nav>
  
<app-customer-home></app-customer-home>
